/* Custom CSS */
.main-menu li {
    margin-right: 2em;
}

.entry-content a {
    border-bottom: none;
    color: #32bca5;
}
z
.entry-content a:hover {
    color: #1E645A
}

.entry-content ul {
    margin: 0 0 1.5em 1.5em
}

.entry-content code {
    font-size: 0.7em;
}

pre {
    padding: 0.5em 0 0.5em 1em;
    margin: 0 0 1em 0;
    line-height: 1.2;
}
